[submodule "3rd-party/cpp-tbox"]
	path = 3rd-party/cpp-tbox
	url = git@gitee.com:cpp-master/cpp-tbox.git
	branch = develop
[submodule "3rd-party/mosquitto/src"]
	path = 3rd-party/mosquitto/src
	url = https://github.com/eclipse/mosquitto.git
  branch = v2.0.15
